<div class="card-holder">
  <div class="card-left-bordered">
    <p><%= @question %></p>
    <p> — You asked</p>
  </div>
  <div class="card-left-bordered">
    <p><%= @answer %></p>
    <p> — Your Coach answered</p>
  </div>
</div>

<%= link_to 'Ask another question', ask_path %>
